
<!-- Footer -->
<footer>

  <a href="#"><i class="social-icon fab social-media-icon fa-facebook-f"></i></a>
  <a href="#"><i class="social-icon fab social-media-icon fa-twitter"></i></a>
  <a href="#"><i class="social-icon fab social-media-icon fa-instagram"></i></a>
  <a href="mailto:guptaritik349@gmail.com"><i class="social-icon fas social-media-icon fa-envelope-square"></i></a>

  <p>© Copyright 2020 JobFinder-By Ritik Gupta , Ritesh Dewoolkar , Rohan Kuckian.</p>
</footer>
