<html>

<head>
  <meta charset="utf-8">
  <title>JobFinder</title>
  <%- include("partials/link.ejs"); -%>
  <link rel="stylesheet" href="css/TeamStyle.css">
</head>

<body>
  <%- include("partials/navbar.ejs"); -%>

  <div class="aboutus">
    <h1>
      <center>About Us</center>
    </h1>
    <p></p>
    <p></p>
    <h5 style="font-family: 'Montserrat' , sans-serif" ;>Welcome to JobFinder, your number one destination for finding jobs .
      We're dedicated to providing you the very best of jobs which will match your strengths
      and help in your overall development in your field of interest.</h5>
    <p></p>
    <h5 style="font-family: 'Montserrat' , sans-serif" ;>Our aim is to provide industries with the right kind of skilled labour
      required by them and to provide the talented jobseekers with a wider reach
      within the industry and reduce the problem of unemployability in the country.</h5>
    <p></p>
    <h5 style="font-family: 'Montserrat' , sans-serif" ;>We hope you enjoy our services as much as we enjoy offering them to you.
      If you have any questions or comments, please don't hesitate to contact us.</h5>

  </div>


  <div class="mid-div">
    <h1>
      <center>Our Fantastic Team</center>
    </h1>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="images/Ritik.jpg" alt="Ritik" style="width:100%">
          <div class="container">
            <h2>
              <center>Ritik Gupta</center>
            </h2>
            <p class="title">
              <center>Front-End Developer & Programmer</center>
            </p>

            <p>
              <center>guptaritik349@gmail.com</center>
            </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="images/Ritesh.jpg" alt="Ritesh" style="width:100%">
          <div class="container">
            <h2>
              <center>Ritesh Dewoolkar</center>
            </h2>
            <p class="title">
              <center>Front-End Developer</center>
            </p>

            <p>
              <center>riteshdewoolkar@gmail.com</center>
            </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="images/Rohan.jpg" alt="Rohan" style="width:100%">
          <div class="container">
            <h2>
              <center>Rohan Kuckian</center>
            </h2>
            <p class="title">
              <center>Database Designer & Programmer</center>
            </p>

            <p>
              <center>rohan.kuckian@gmail.com</center>
            </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BootStrap Javascript Link -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
<%- include("partials/footer.ejs"); -%>
</html>
