<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      padding-top: 20vh;
      background-color: #fff;
    }

    .myclass1 {
      padding: 20px 30px;
      width: 380px;
      height: 200px;
      margin: auto;
      box-shadow: 0 0 1px 1px;
      box-radius: 500px;
      font-family: monospace;
      font-style: italic;
      /* background-color:lightblue;
 */
    }

    .myclass2 {

      width: 350px;
      border-radius: 5px;
      height: 35px;
    }

    .myclass3 {
      font-size: 20px;
    }

    input[type=submit] {
      background-color: #4CAF50;
      /* Green */
      border: 1px solid green;
      color: white;
      padding: 10px 10px;
      font-size: 15px;
    }

    h1 {
      text-align: center;
    }


    footer {
      margin-top: 80px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
    }
  </style>

  <meta charset="UTF-8">
  <title>ForgotPass</title>
  <!-- Awesome Fonts -->
  <script src="https://kit.fontawesome.com/88ee6d8306.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="myclass1">

    <h1>Forgot Password??</h1>
    <form>
      <label class="myclass3">Enter Username or Email:</label><br>
      <input class="myclass2" type="text" name="username" placeholder="">

      <br><br><input type="submit" id="submit" value="Reset Password">


    </form>

  </div>
</body>
<%- include("partials/footer.ejs"); -%>

</html>
